@model IEnumerable<ProyectoFinal.Entities.VehiculoObj>

@{
    ViewBag.Title = "Vehículos en Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .icons {
            margin: 10px;
        }
    </style>

</head>
<body>
    <div class="container">
        <div><h3>Vehículos en Venta</h3></div>
        <br />
        <div class="d-flex justify-content-center h-100">
            <table class="table">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Color</th>
                        <th>Año</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Marca</td>
                            <td>@item.Modelo</td>
                            <td>@item.Color</td>
                            <td>@item.Anio</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- REQUIRED SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


